.custom-card{
    width:80%;
    margin: 50px;
    transition: 0.5s;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    .custom-heading {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .light-text {
        color: grey;
    }
    .custom-image{
        margin-top: 25px
    }
}
.custom-card:hover {
    background-color: #580899;
    color: white;
    opacity: 0.6;
    .light-text {
        color: white;
    }
}