<div class="header" (scroll)="onWindowScroll();">
    <div class="logo">
        <img class="logo-image" src="../../../assets/logo.png" alt="logo" srcset="">
    </div>
    <div class="menus">
        <div class="item">
            Products
        </div>
        <div class="item">
            Solutions
        </div>
        <div class="item">
            Pricing
        </div>
        <div class="login-btn">
            Login
        </div>
        <div class="start-btn">
            Get Started
        </div>
    </div>
</div>