<app-header></app-header>
<main>
	<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
		<div fxFlex="41%" class="top-background ">
            <div class="main-placeholder">
                <div class="simple-text">
                    We make it Super Simple
                    <img src="../assets/Line.svg" alt="">
                </div>
                <div >
                    <img class="image-placeholder" src="../assets/collect_img-video.png" alt="">
                </div>
            </div>
		</div>
		<div fxFlex="59%" class="top-right-background">
			<app-calculator></app-calculator>
        </div>
	</div>
	<div class="low-background"fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
		<div class="padding"fxFlex="60%">
            <div fxFlex="50%">
                <app-card 
                    [heading]="'Quick cash disbursement'" 
                    [description]="'Get terms loans that your business needs within 72 hrs'" 
                    [imageSrc]="'../../../assets/GetPaid.png'">
                </app-card>
                <app-card 
                    [heading]="'Low-interest rate'" 
                    [description]="'Achieve your financial goals with an amazing interest rate starting at 13% per annum'" 
                    [imageSrc]="'../../../assets/Lowinterestrate.png'">
                </app-card>
                <app-card 
                    [heading]="'Zero Paperwork'" 
                    [description]="'Get started instantly by submitting only your basic details & bank statements'" 
                    [imageSrc]="'../../../assets/Secure.png'">
                </app-card>
            </div>
            <div fxFlex="50%" class="second-row">
                <app-card 
                    [heading]="'Ace your business finances'" 
                    [description]="'Manage banking, accounting & everything in between, on one platform'" 
                    [imageSrc]="'../../../assets/freelancer.png'">
                </app-card>
                <app-card 
                    [heading]="'Loans to fight COVID-19'" 
                    [description]="'Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh'" 
                    [imageSrc]="'../../../assets/Covid.png'">
                </app-card>
            </div>
		</div>
		<div fxFlex="40%">
            <app-info></app-info>
        </div>
	</div>
</main>
